body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.project img{
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1px;
}

@media (max-width: 600px) {
    .projects{
        max-width: 600px;
        padding: 10px;
    }
    
}